*{
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.demo{
    width: 100%;
    height: 100vh;
    background-color: #F8F4E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 40px;
    margin-bottom: 100px;
    margin-top: -100px;
}

.social{
    display: flex;
}

.social a{
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 30px;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.social a .fa{
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.social a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background-color: cadetblue;
    position: absolute;
    transition: 0.5s;
}

.social a:hover::after{
    top: 0;
}

.social a:hover .fa{
    color: white;
}

.social a:hover{
    transform: translateY(-10px);
}