body{
    background-color: black;
}

nav{
    width: 70vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

a{
    position: relative;
    text-decoration: none;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a::after{
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: rgb(132, 170, 9);
}

a:hover::after{
    width: 100%;
}